test/*.pem
test/*.p12
test/*.crt
test/*.csr
test/*.srl
test/*.xml
test/*.key
*.log
*.log.*
*.log-*
*.dat.*
test/80121930-2.pem.key
test/PKuatiaDId.json
test/EnvioLoteFEGarelli.php
test/ConsultaLoteGarelli.php
test/qr.txt

test/qr.txt
test/qr.txt
test/qr.txt
